src/main/app/mule-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:hello-world="http://www.mulesoft.org/schema/mule/hello-world" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.2"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/hello-world http://www.mulesoft.org/schema/mule/hello-world/current/mule-hello-world.xsd">
    <spring:beans>
        <spring:bean id="objectLogger" class="biz.directnorth.util.ObjectLogger"/>
    </spring:beans>    
    <hello-world:config name="HelloWorld" doc:name="HelloWorld" username="someusername"/>
    <flow name="mule-demoFlow1" doc:name="mule-demoFlow1">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" doc:name="HTTP"/>
        <hello-world:get-customer config-ref="HelloWorld" content="#[payload]" doc:name="HelloWorld"/>
        <invoke object-ref="objectLogger" method="toJson" doc:name="Invoke" methodArguments="#[payload]"/>        
        <json:object-to-json-transformer doc:name="Object to JSON"/>
    </flow>
</mule>
